@charset "utf-8";
ul li a {
	line-height: 38px;
}
body {
	background-image: url(texture171030IMGL0669.jpg);
}
body h1 {
    font-family: "HG創英角ﾎﾟｯﾌﾟ体";
    color: #FFF144;
    text-indent: 0px;

}
